<div class = "container">
  <div class = "row">
    <div class = "col-md-8 offset-md-2">
      <table class="table table-hover table-inverse" style="margin-top:15px">
        <thead>
          
          <tr>
            <th scope="col">通報ID</th>
            <th scope="col">お題作成者</th>
            <th scope="col">お題画像</th>
            <th scope="col">お題タイトル</th>
            <th scope="col">通報者</th>
            <th scope="col">ステータス</th>
          </tr>
          
          <!--<tr>-->
          <!--  <th scope="col">通報ID</th>-->
          <!--  <th scope="col">回答作成者</th>-->
          <!--  <th scope="col">内容</th>-->
          <!--  <th scope="col">通報者</th>-->
          <!--  <th scope="col">ステータス</th>-->
          <!--</tr>-->
          
        </thead>
        <tbody>
          <% @reports.each do |report| %>
            <tr>
              <td><%= link_to report.id, admin_report_path(report) %></td>
              <td><%= report.subject.user.nickname %></td>
              <td><%= image_tag report.subject.get_subject_image(100,100) %></td>
              <td><%= report.subject.title %></td>
              <td><%= report.user.nickname %></td>
              <td><%= report.report_status_i18n %></td>
            </tr>
            
            <!--<tr>-->
            <!--  <td><%#= link_to report.id, admin_report_path(report) %></td>-->
            <!--  <td><%#= report.answer.user.nickname %></td>-->
            <!--  <td><%#= report.answer.answer %></td>-->
            <!--  <td><%#= report.user.nickname %></td>-->
            <!--  <td><%# report.report_status_i18n %></td>-->
            <!--</tr>-->
          
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>