<div class = "container">
  <div class = "row">
    <div class = "col-md-8 offset-md-2">
      <table class="table table-hover table-inverse" style="margin-top:15px">
        <thead>
          
          <tr>
            <th scope="col"></th>
            <th scope="col">通報ID</th>
            <th scope="col">お題作成者</th>
            <th scope="col">理由</th>
            <th scope="col">通報者</th>
            <th scope="col">対応ステータス</th>
          </tr>
          
          <!--<tr>-->
          <!--  <th scope="col">通報ID</th>-->
          <!--  <th scope="col">回答作成者</th>-->
          <!--  <th scope="col">内容</th>-->
          <!--  <th scope="col">通報者</th>-->
          <!--  <th scope="col">ステータス</th>-->
          <!--</tr>-->
          
        </thead>
        <tbody>
            <tr>
              <td><%= link_to "詳細", admin_subject_path(@subject), class: "btn btn-primary" %></td>
              <td><%= @report.id %></td>
              <td><%= @report.subject.user.nickname %></td>
              <td><%= @report.reason %></td>
              <td><%= @report.user.nickname %></td>
              <td>
                  <%= form_with model: @report, url: admin_report_path(@report), method: :patch, local: true do |f| %>
                      通報ステータス　<%= f.select :report_status, Report.report_statuses_i18n.keys.map {|k| [I18n.t("enums.report.report_status.#{k}"), k]} %>
                      <%= f.submit "更新", class: "btn btn-warning" %>
                  <% end %>
              </td>
            </tr>
            
            <!--<tr>-->
            <!--  <td><%#= link_to report.id, admin_report_path(report) %></td>-->
            <!--  <td><%#= report.answer.user.nickname %></td>-->
            <!--  <td><%#= report.answer.answer %></td>-->
            <!--  <td><%#= report.user.nickname %></td>-->
            <!--  <td><%# report.report_status_i18n %></td>-->
            <!--</tr>-->
          
        </tbody>
      </table>
    </div>
  </div>
</div>