<div class="controller">
    <div class="row pt-4">
       <div class="col">
           <div class="how-text text-center">
               PicOgiではユーザーが大喜利をしながら<br>
               遊ぶことができます<br>
               このページを見て、早速使ってみましょう！
           </div>
       </div> 
    </div>
    <div class="row pt-4 text-center">
        <div class="col-12 how-text2">
            投稿方法
        </div>
        <div class ="col-sm-6 offset-sm-3 how-text3">
          <div class ="pb-4">1.右上のヘッダーから新規投稿を押す</div>
          <div class ="pb-4"><%= image_tag "1.png", class: "img-fluid" %></div>
          <div class ="pb-4">2.必要事項を入力して確認ボタンを押す</div>
          <div class ="pb-4"><%= image_tag "2.png", class: "img-fluid" %></div>
          <div class ="pb-4">3.投稿を確認したら"はい"を押す</div>
          <div class ="pb-4"><%= image_tag "3.png", class: "img-fluid" %></div>
          <div class ="pb-4">
              4.プロフィールページで自分の投稿一覧を見れます。<br>
              編集、削除、プロフィールを編集を押すことで編集、削除ができます。
          </div>
          <div class ="pb-4"><%= image_tag "4.png", class: "img-fluid" %></div>
        </div>
    </div>
    <div class="row pt-4 text-center">
        <div class="col-12 how-text2">
            回答方法
        </div>
        <div class ="col-sm-6 offset-sm-3 how-text3">
          <div class ="pb-4">1.ホームから"参加"、もしくは投稿一覧から参加</div>
          <div class ="pb-4"><%= image_tag "answer1.png", class: "img-fluid" %></div>
          <div class ="pb-4">2.お題を確認（赤色の枠）したら、回答ボタンを押す</div>
          <div class ="pb-4"><%= image_tag "answer2.png", class: "img-fluid" %></div>
        </div>
    </div>
     <div class="row pt-4 text-center">
        <div class="col-12 how-text2">
            その他の使用について
        </div>
        <div class ="col-sm-6 offset-sm-3 how-text3">
          <div class ="pb-4">ホーム画面では回答のランキングが出るようになっています。</div>
          <div class ="pb-4">いいねランキングは回答についたいいね数のTop5を示しています</div>
          <div class ="pb-4">お題の期限が切れると、回答ができません</div>
          <div class ="pb-4"><%= image_tag "answer3.png", class: "img-fluid" %></div>
        </div>
    </div>
</div>