<div class = 'container'>
  <div>
    <% if  @profile_image.attached? %>
      <%= image_tag  @profile_image, size: "100,100" %>
    <% else %>
      <%= image_tag 'no_image', size: "100x100" %>
    <% end %>
  </div>
  <div>
    <h3>ニックネーム</h3>
    <h3><%= @user.nickname %></h3>
  </div>
  <div>
    <h3>メールアドレス</h3>
    <h3><%= @user.email %></h3>
  </div>
  <div>
    <h3>自己紹介</h3>
    <h3><%= @user.introduction %></h3>
  </div>
  <div>
    <%= link_to '編集',  edit_user_path(@user), class: "btn btn-outline-secondary btn-block" %>
  </div>
  
  <div>
     <h3>投稿一覧</h3>
     <% @subject.each do |subject| %>
     <p><%= subject.time_limit %></p>
     <p><%= image_tag subject.subject_image %></p>
     <p><%= subject.title %></p>
     <P><%= link_to "編集", edit_subject_path(subject.id) %></P>
     <p><%= link_to "削除", subject_path(subject.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></p>
     <% end %>
  </div>
</div>
