<div class = 'container'>
 <div class="row justify-content-center my-5">
   <div class="col-4">
      <div class="mb-2">
        <%= image_tag  @user.get_profile_image(100,100), class: "mx-auto d-block" %>
        <h3>自己紹介</h3>
        <p><%= @user.introduction %></p>
      </div>
      <div class="row mb-2">
        <%= @user.nickname %> <% if @user.nickname != "guestuser" %><%= link_to '編集',  edit_user_path(@user), class: "btn btn-primary" %><% end %>
      </div>
      <div class="row mb-2">
        <%= @user.email %><br/>
        投稿<%= @subjects.count %>件
      </div>
  </div>
 </div>
 
 <div class = 'row mx-auto text-center'>
   <div class = "col mx-auto text-center">
     <h3>投稿一覧</h3>
     <% @subjects.each do |subject| %>
     <ul class="list-inline">
       <li class="list-inline-item"><%= link_to "参加", subject_path(subject.id), class: "btn btn-info" %></li>
       <li class="list-inline-item"><%= subject.time_limit %></li>
       <li class="list-inline-item"><%= image_tag subject.get_subject_image(100,100) %></li>
       <li class="list-inline-item"><%= subject.title %></li>
       <li class="list-inline-item"><%= link_to "編集", edit_subject_path(subject.id), class: 'btn btn-primary' %></li>
       <li class="list-inline-item"><%= link_to "削除", subject_path(subject.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %></li>
     </ul>
     <% end %>
   </div>
  </div>
 
</div>
