<%= form_with model:@customer, url: admin_customer_path(@customer.id), local:true, method: :patch do |f| %>
<div class="container">
  <div class="row">
      <table class="table table-borderless">
        
        <tr>
          <th class="nowrap col-1">会員ID</th>
          <td class="font-weight-bold"><%= @customer.id %></td>
        </tr>
        <tr>
          <th class="nowrap">氏名</th>
          <td class="col-1"><%= f.text_field :family_name, autofocus: true, class:"form-control" %></td>
          <td class="col-1"><%= f.text_field :first_name, autofocus: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="nowrap">フリガナ</th>
          <td class=""><%= f.text_field :family_name_kana, autofocus: true, class:"form-control" %></td>
          <td class=""><%= f.text_field :first_name_kana, autofocus: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="nowrap">郵便番号</th>
          <td class=""><%= f.text_field :postal_code, autofocus: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="nowrap">住所</th>
          <td class=""><%= f.text_field :address, autofocus: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="nowrap">電話番号</th>
          <td class=""><%= f.text_field :phone_number, autofocus: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="nowrap">メールアドレス</th>
          <td class=""><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %></td>
        </tr>
        <tr>
          <th class="nowrap">会員ステータス</th>
          <td><% if @customer.withdrawal_flag == !true %><%end%></td>
          <td>
            <%= f.label :withdrawal_flag, '有効', value: false %>
            <%= f.radio_button :withdrawal_flag, 'false' %>
            <%= f.label :withdrawal_flag, '退会', value: true %>
            <%= f.radio_button :withdrawal_flag, 'true' %>
          </td>
        </tr>
      </table>
      <div class="col">
        <%= f.submit "変更を保存", class: 'col-sm-5 btn btn-success' %>
      </div>
  </div>
</div>
<%end%>