<%= form_with model:@customer, url: admin_customer_path(@customer.id), local:true, method: :patch do |f| %>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <table class="table table-borderless">
        <tr>
          <th class="nowrap col-1">会員ID</th>
          <td class="font-weight-bold"><%= @customer.id %></td>
        </tr>
        <tr>
          <th class="nowrap">氏名</th>
          <td class="col-1"><%= f.text_field :family_name, autofocus: true, class:"form-control" %></td>
          <td class="col-1"><%= f.text_field :first_name, autofocus: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="nowrap">フリガナ</th>
          <td class=""><%= f.text_field :family_name_kana, autofocus: true, class:"form-control" %></td>
          <td class=""><%= f.text_field :first_name_kana, autofocus: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="nowrap">郵便番号</th>
          <td class=""><%= f.text_field :postal_code, autofocus: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="nowrap">住所</th>
          <td class=""><%= f.text_field :address, autofocus: true, class:"form-control", size:45 %></td>
        </tr>
        <tr>
          <th class="nowrap">電話番号</th>
          <td class=""><%= f.text_field :phone_number, autofocus: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="nowrap">メールアドレス</th>
          <td class=""><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %></td>
        </tr>
        <tr>
          <th class="nowrap">会員ステータス</th>
          <td>
            <%= f.radio_button :withdrawal_flag, 'false' %>
            <%= f.label :withdrawal_flag, '有効', value: false, class: "font-weight-bold text-secondary" %>
            <%= f.radio_button :withdrawal_flag, 'true' %>
            <%= f.label :withdrawal_flag, '退会', value: true, class: "font-weight-bold text-secondary" %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "変更を保存", class: 'btn btn-success' %></td>
        </tr>
      </table>
    </div_>
  </div>
</div>
<%end%>