<div class = 'container'>
  <div>
    <%= image_tag  @subject.get_subject_image(100,100) %>
  </div>
  <div>
    <h3>期限</h3>
    <%= @subject.time_limit %>
  </div>
  <div>
    <h3>タイトル</h3>
    <%= @subject.title %>
  </div>
  <div>
    <h3>お題</h3>
    <%= @subject.theme %>
  </div>
  <div>
    <%= form_with model: @subject, url: subjects_path, method: :post do |f| %>
    <!-- statusをtrueにする事でsubject_imageを公開にしていす-->
    <%= f.hidden_field :status, value: true %>
    <%= f.hidden_field :time_limit %>
    <%= f.hidden_field :title %>
    <%= f.hidden_field :theme %>
    <p>こちらでよろしいでしょうか？<%= f.submit "はい" %></p>
    <% end %> 
  </div>
</div>