<div class = 'container'>
  
 <div class="row justify-content-center my-5">
   <div class="row justify-content-end my-5">
     <ul class="list-unstyled">
        <% @all_favorites.each.with_index(1) do |answer,i| %>
        <li>第<%= i %>位<%= answer.user.nickname %></li>
        <% end %>
      </ul>
   </div>
   <div class="col-4">
     <% @subjects.each do |subject| %>
      <div class="mb-2">
        <%= subject.user.nickname %>
      </div>
      <div class="row mb-2">
        <%= image_tag subject.get_subject_image(100,100) %><br/>
      </div>
      <div class="row mb-2">
        <%= subject.title %><%= subject.tags.map(&:name).join(', ') %>
      </div>
      <div class="row mb-2 justify-content-center">
        <table>
            <tr id="subject_<%= subject.id %>">
              <td class="answers-count"><p>回答数: <%= subject.answers.count %></p></td>
            </tr>
        </table>
      </div>
      <div class="row mb-2 justify-content-center">
       <!--タグリスト-->
        <% @tag_list.each do |list|%>
          <%= list.name %>
          <%="(#{list.subjects.count})" %>
        <% end %>
      </div>
      
      <div class="row mb-2 justify-content-center">
         <%= link_to '参加', subject_path(subject.id),data: {"turbolinks"=>false} %>
      </div>
     <% end %>
     <%#= paginate subject %>
  </div>
 </div>
 
 
 
</div>    

