<div class = 'container-fluid '>
  
  <div class="row  subjects-index">
    
    <div class="col-lg-6 d-flex  justify-content-end">
      <div class="subject-index">
        <div class="subject-index-sm">
          
         <% @subjects.each do |subject| %>
          <div class ="mb-4">
            <div class="subject-each">
              <div class="mb-2">
                <div class="subject-profile_image-box text-center">
                  <%= image_tag  subject.user.get_profile_image(80,80), class: "img-thumbnail rounded-circle"  %>
                  <%= subject.user.nickname %>
                </div>
              </div>
              
              <div class="mb-2 text-center subject-text">
                <%= subject.title %><br/>
                #<%= subject.tags.map(&:name).join('#') %>
              </div>
              
              <div class="mb-2 d-flex  justify-content-center">
                <div class="subject-image-indx">
                  <%= image_tag subject.get_subject_image(350,350) %>
                </div>
                <div class="subject-mark">
                  <div class="subject-comment-box">
                     <table>
                        <tr id="subject_<%= subject.id %>">
                          <i class='bx bx-comment-detail'><%= subject.answers.count %></i>
                        </tr>
                      </table>
                  </div>
                </div>
              </div>
             
              <div class="mb-10  d-flex justify-content-center subject-text">
                 <%= link_to '参加', subject_path(subject.id),data: {"turbolinks"=>false} %>
              </div>
            </div>
          </div>
         <% end %>
         
       </div>
     </div>
   </div>
   
   <div class="col-lg-6 d-flex  justify-content-center">
     <div class="rank-box">
       
        <div class="rank-box-sm text-center">
          
            
          <div class="rank-text ">ランキング</div>
         <% @all_favorites.each.with_index(1) do |answer,i| %>
          <div class ="mb-4 ">
            <div class="rank-each">
              <div class="mb-2 rank-text">
                第<%= i %>位
              </div>
              <div class="mb-2 rank-text">
                <%= answer.user.nickname %>
              </div>
         <% end %>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    
  </div>
  
  <div class="row"><%= paginate @subjects %></div>
  
</div>


 
 
  <!--<div class="row mb-2 justify-content-center">-->
           <!--タグリスト-->
          <!--  <%# @tag_list.each do |list|%>-->
          <!--    <%#= list.name %>-->
          <!--    <%#="(#{list.subjects.count})" %>-->
          <!--  <%# end %>-->
          <!--</div>-->