<div class = 'container'>
      <ul class="list-inline">
        <% @subjects.each do |subject| %>
          <li class="list-inline-item"><%= subject.user.nickname %></li>
          <li class="list-inline-item"><%= image_tag subject.get_subject_image(100,100) %></li>
          <li class="list-inline-item"><%= subject.title %><%= subject.tags.map(&:name).join(', ') %></li>
            <li class="list-inline-item">
              <tr id="subject_<%= subject.id %>">
               <td class="answers-count"><p>回答数: <%= subject.answers.count %></p></td>
              </tr>
              </li>
          <li class="list-inline-item"><%= link_to '参加', subject_path(subject.id) %></li>
        <% end %>
      </ul>
  </div>
<!--タグリスト-->
<% @tag_list.each do |list|%>
<%= list.name %>
<%="(#{list.subjects.count})" %>
<% end %>
