<h1>投稿一覧</h1>
  <div class = 'container'>
    <table>
      <% @subjects.each do |subject| %>
        <tr><%= subject.user.nickname %></tr>
        <tr><%= image_tag subject.subject_image, size: "100,100" %></tr>
        <tr><%= subject.title %></tr>
        <tr id="subject_<%= subject.id %>">
          <td class="answers-count"><p>回答数: <%= subject.user_subject_answers.count %></p></td>
        </tr>
        <tr><%= link_to '参加', subject_path(subject.id) %></tr>
      <% end %>
    </table>
  </div>