<div class = "container px-5 px-sm-0">
  <div class = "row">
    <div class = "col">
      <% @subjects.each do |subject| %>
        <%= subject.user.nickname %><br/>
        <%= image_tag subject.get_subject_image(100,100) %><br/>
        <%= subject.title %><%= subject.tags.map(&:name).join(', ') %>
        <table>
          <tr id="subject_<%= subject.id %>">
            <td class="answers-count"><p>回答数: <%= subject.answers.count %></p></td>
          </tr>
        </table>
         <!--タグリスト-->
        <% @tag_list.each do |list|%>
          <%= list.name %>
          <%="(#{list.subjects.count})" %>
        <% end %>
        <%= link_to '参加', subject_path(subject.id) %>
      <% end %>
    </div>
  </div>
</div>

