<div class = "row">
  <div class = "col-lg-4 col-sm-6">
    <% @subjects.each do |subject| %>
      <div class = "border">
        <div class = "iconbox">
          <i class='bx bxs-comment-detail'><%= subject.answers.count %></i>
          <i><%= image_tag subject.get_subject_image(100,100) %></i>
        </div>
        <h5><%= subject.title %></h5>
        <p>
          <%= subject.user.nickname %>
          期限<%= subject.time_limit %>まで
        </p>
      </div>
    <% end %>
  </div>
</div>