<h1>新規投稿</h1>
  <div class = 'container'>
      <%= form_with model: @subject, url: subjects_check_path, method: :post do |f| %>
        <div class="form-group">
          <%= f.file_field :subject_image, accept: "image/*" %>
          <%= f.hidden_field :status %>
        </div>
        
        <div class="form-group">
          <%= f.label :期限 %>
          <%= f.text_field :time_limit %>
        </div>
        <div class="form-group">
          <%= f.label :タイトル %>
          <%= f.text_field :title %>
        </div>
        <div class="form-group">
          <%= f.label :お題 %>
          <%= f.text_area :theme %>
        </div>
        <div class="form-group">
          <%= f.submit "確認", class: ' btn-success' %>
        </div>
      <% end %>
  </div>