<% if @subjects == [] %>
<h2 class = "seach-result">検索結果はありません</h2>
<% else %>
<div class = "post-contents">
  <ul class = "post-list">
    <% @subjects.each do |subject| %>
    <li class = "list">
    <%= image_tag subject.get_subject_image(100,100) %>
    </li>
    <li class = "list">
     <%= subject.user.nickname %>
    </li>
     <li class = "list">
     <%= subject.title %><%= subject.tags.map(&:name).join(', ') %>
    </li>
     <li class = "list">
     <%= link_to '参加', subject_path(subject.id) %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>