<h1>配送先編集</h1>


     <%= form_with model: @delivery, url: delivery_path(@delivery), method: :patch, local: true do |f| %>
<table style="margin-bottom:40px">
      <tr>
       <td >郵便番号(ハイフンなし)    </td>
       <td><%= f.text_field :postal_code, placeholder: "0000000" %></td>
       <td colspan="1"></td>
      </tr>
      <tr>
       <td>住所</td>
       <td><%= f.text_field :address, size: "45x20", placeholder: "東京都渋谷区代々木神園町0-0" %></td>
      </tr>
      <tr>
        <td>宛名</td>
        <td><%= f.text_field :name, placeholder: "令和道子" %></td>
        <td class="text-right"><%= f.submit '変更内容を保存', class:"btn btn-success" %></td>
      </tr>
</table>
     <% end %>
