<div class="container px-5 px-sm-0">
 <div class= "row">
  <div class="col-md-10 offset-md-1">
    <h3>配送先登録/一覧</h3>
    <table style="margin-bottom:40px">
     <%= form_with model: @delivery, url: deliveries_path, method: :post do |f| %>
      <tr>
       <td >郵便番号(ハイフンなし)　　</td>
       <td><%= f.text_field :postal_code, placeholder: "0000000" %></td>
       <td colspan="1"></td>
      </tr>
      <tr>
       <td>住所</td>
       <td><%= f.text_field :address, size: "45x20", placeholder: "東京都渋谷区代々木神園町0-0" %></td>
      </tr>
      <tr>
        <td>宛名</td>
        <td><%= f.text_field :name, placeholder: "令和道子" %></td>
        <td class="text-right"><%= f.submit '新規登録', class:"btn btn-success" %></td>
      </tr>
     <% end %>
    </table>

    <table border="1">
     <thead>
      <tr>
       <th>郵便番号</th>
       <th>住所</th>
       <th>宛名</th>
       <th colspan="1"></th>
      </tr>
     </thead>
     <tbody>
      <% @deliveries.each do |delivery| %>
        <tr>
         <th><%= delivery.postal_code %>　</th>
         <th><%= delivery.address %>　</th>
         <th><%= delivery.name %>　</th>
         <th>　<%= link_to '編集する', edit_delivery_path(@delivery.id), class:"btn btn-success" %>　削除する　</th> <%# f.submit '削除する', class:"btn btn-danger" %>
        </tr>
      <% end %>
     </tbody>
    </table>
  </div>
 </div>
</div>