<div class="container-fluid search-box">
  <div class="row">
    <div class="col" align = "center">
      <% if !@users.present? %>
        <div class="nothing-result" align = "center">
          検索結果はありません
        </div>
      <% else %>
        <% @users.each do |user| %>
          <div class="result-box" align = "center">
            <div class="user-result row mb-4">
              <%= link_to user_path(user.id) do %>
                <div class="col user-result-sm">
                  プロフィール画像<%= image_tag  user.get_profile_image(100,100), class: "img-thumbnail rounded-circle"  %>
                </div>
                <div class="col user-result-sm">
                 ニックネーム <%= user.nickname %>
                </div>
              <% end %>
            </div>
            
          <% user.subjects.where(status: true).each do |subject| %>
            <div class="subject-result row mb-4">
              <%= link_to subject_path(subject.id) do %>
                <div class="col-lg-4 subject-result-sm">
                 お題画像 <%= image_tag subject.get_subject_image(100,100) %>
                </div>
                <div class="col-lg-4 subject-result-sm">
                 タイトル <%= subject.title %>
                </div>
                <div class=" col-lg-4 subject-result-sm">
                 お題 <%= subject.theme %>
                </div>
              <% end %>
            </div>
          
            <% subject.answers.each do |answer| %>
              <div class="answer-result mb-4" >
                回答　<%= answer.answer %>
              </div>
            <% end %>
          <% end %>
         </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



