<div class="container-fluid search-box">
  <div class="row">
    <div class="col">
      <% if @users.blank? %>
        <div class="nothing-result">検索結果はありません</div>
      <% else %>
        <% @users.each do |user| %>
          <div class="result-box">
            <div class="user-result">
              <%= link_to user_path(user.id) do %>
                <%= image_tag  user.get_profile_image(100,100), class: "img-thumbnail rounded-circle"  %>
                <%= user.nickname %>
              <% end %>
            </div>
          <% user.subjects.each do |subject| %>
            <div class="subject-result">
              <%= link_to subject_path(subject.id) do %>
                <%= subject.title %>
                <%= subject.theme %>
              <% end %>
            </div>
          
            <% subject.answers.each do |answer| %>
              <div class="answer-result">
                <%= answer.answer %>
              </div>
            <% end %>
          </div>
          <% end %>
        <% end %>
      <% end %>
      <%= paginate @users %>
    </div>
  </div>
</div>



