<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <h1>注文情報確認</h1>
       <table class='table'>
       </table>
      
       <table class='table'>
         <tr>
           <th>支払い情報</th>
             <% if @order.payment == Order.payments.key(0) %>
            <td>クレジットカード</td>
             <% else %>
            <td>銀行振り込み</td>
             <% end %>
           
           <th>お届け先</th>
           <td>
              <%= @order.postal_code %>
              <%= @order.address %>
              <%= @order.name %>
           </td>
         </tr>
       </table>
       
       <% form_with model: @order, url: orders_path, method: :post do |f| %>
       <%= f.hidden_field :create, :value =>  %>
       <% end %>
       
       <%= link_to "注文を確定する", orders_complete_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>