<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
        
      <h1>注文情報確認</h1>
       <table class='table'>
           <%  @cart_item.each do |cart_item| %>
           <tr>
              <td><%= image_tag cart_item.item.get_image, size: "30x30" %><%= cart_item.item.name %></td>
              <td><%= cart_item.item.with_tax_price %></td>
              <td><%= cart_item.volume %></td>
              <td><%= cart_item.subtotal %>
               <% @price_all += cart_item.subtotal %>
              </td>
          </tr>
           <% end %>
            <tr>
                <td><%= @order.postage %></td>
                <td><%=  @price_all %></td>
                <td><%= @order.postage +  @price_all %></td>
            </tr>
       </table>
      
       <table class='table'>
         <tr>
           <th>支払い情報</th>
             <% if @order.payment == Order.payments.key(0) %>
            <td>クレジットカード</td>
             <% else %>
            <td>銀行振り込み</td>
             <% end %>
           
           <th>お届け先</th>
           <td>
              <%= @order.postal_code %>
              <%= @order.address %>
              <%= @order.name %>
           </td>
         </tr>
       </table>
       
       <table class='table'>
       <%= form_with model: @order, url: orders_path, method: :post do |f| %>
       <%= f.hidden_field :customer_id, :value => current_customer.id  %>
       <%= f.hidden_field :postage, :value => @order.postage %>
       <%= f.hidden_field :price, :value => @order.postage +  @price_all  %>
       <%= f.hidden_field :payment, :value => @order.payment  %>
       <%= f.hidden_field :postal_code, :value => @order.postal_code  %>
       <%= f.hidden_field :address, :value => @order.address  %>
       <%= f.hidden_field :name, :value => @order.name %>
       <%= f.submit "注文を確定する" %>
       <% end %>
       </table>
       
    </div>
  </div>
</div>