<div class = "container">
    
  <div class="row justify-content-center my-5">
      
   <div class="col-4">
      <div class="mb-2">
        <%= image_tag  @user.get_profile_image(100, 100), class: "mx-auto d-block" %>
        <h3>自己紹介</h3>
        <p><%= @user.introduction %></p>
      </div>
      <div class="row mb-2">
        <%= @user.nickname %>
      </div>
      <div class="row mb-2">
        <%= @user.email %><br/>
        投稿<%= @subjects.count %>件
      </div>
       <%= form_with model: @user, url: admin_user_path(@user), local:true, method: :patch do |f| %>
         <div class="row mb-2">
           <%= f.label :is_deleted, '会員ステータス' %>
           <div class = "col-4">
             <%= f.radio_button :is_deleted, 'false' %>
             <%= f.label :is_deleted, '有効', value: false, class: "font-weight-bold text-secondary" %>
           </div>
           <div class = "col-4">
             <%= f.radio_button :is_deleted, 'true' %>
             <%= f.label :is_deleted, '退会', value: true, class: "font-weight-bold text-secondary" %>
           </div>
         </div>
          <%= f.submit "ステータスを更新", class: ' btn btn-success' %>
       <% end %>
  </div>
  
  </div>
  
</div>