<div class="container">
  <div class="row">
    <%= form_with model:@customer, local:true do |f| %>
      <div class="field m-2">
        <%= f.label :名前 %><span>(姓)</span>
        <%= f.text_field :family_name, autofocus: true %>
        <%= f.label :"(名)" %>
        <%= f.text_field :first_name, autofocus: true %>
      </div>
      
      <div class="field m-2">
        <%= f.label :フリガナ %>
        <%= f.label :"(セイ)" %>
        <%= f.text_field :family_name_kana, autofocus: true %>
        <%= f.label :"(メイ)" %>
        <%= f.text_field :first_name_kana, autofocus: true %>
      </div>
      
      <div class="field m-2">
        <%= f.label :郵便番号 %><span>(ハイフンなし)</span>
        <%= f.text_field :postal_code, autofocus: true %>
      </div>
      
      <div class="field m-2">
        <%= f.label :住所 %>
        <%= f.text_field :address, autofocus: true %>
      </div>
      
      <div class="field m-2">
        <%= f.label :電話番号 %><span>(ハイフンなし)</span>
        <%= f.text_field :phone_number, autofocus: true %>
      </div>
      
      <div class="field m-2">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <%= f.submit "編集内容を保存", class: 'col-sm-5 btn btn-success' %>
      </div>
      <div class="col-sm-2">
        <%= link_to customers_withdrawal_path, class: 'col btn btn-danger' do %>退会する<% end %>
      </div>
    </div>
    
  <%end%>
</div>