<div class ="d-flex align-items-center session-box">
  
  <div class ="container-fluid">
    
    <div class="row">
      
      <div class="col-lg-3 mx-auto text-center">
        
        <div class="session-box-sm card-effect">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class ="session-text1">
              新規登録
            </div>
            <div class= "mt-4 mb-2 session-text2"> 
              <%= f.label :ニックネーム %><br/>
              <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" , required: true %>
            </div>
            <div class= "mt-4 mb-2 session-text2"> 
              <%= f.label :メールアドレス %><br/>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
            </div>
            <div class= "mt-4 mb-2 session-text2">   
              <%= f.label :パスワード %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> 文字以上)</em>
              <% end %><br/>
              <%= f.password_field :password, autocomplete: "new-password", required: true %>
            </div>
            <div class= "mt-4 mb-2 session-text2">
              <%= f.label :確認 %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
            </div>
            <div class= "mt-4 mb-2 row"> 
              <div class="col">
                <%= f.submit "新規登録", class: "link-sign_up-btn" %>
              </div>
          <% end %>
              <div class="col">
                <div class="session-text3">
                  <%= link_to "ログイン", new_session_path(resource_name), class: "link-sign_up-btn" %>
                </div>
              </div>
            </div>
        </div>
        
      </div>
      
    </div>
    
  </div>
  
</div>
