<div class ="hero vh-100 d-flex align-items-center" id = "admin_session_new">
  
  <div class  = "container">
    
    <div class = "row">
      <%= flash[:alert] %>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
        <div class = "col-lg-7 mx-auto text-center">
          <h1>管理者 Log in</h1>
        </div>
        
        <div class = "col-lg-7 mx-auto text-center">
          <%= f.label :メールアドレス %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"admin@gmail.com" %>
        </div>
         
        <div class = "col-lg-7 mx-auto text-center">
          <%= f.label :パスワード %><br/>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        
        <% if devise_mapping.rememberable? %>
         <div class = "col-lg-7 mx-auto text-center">
           <%= f.check_box :remember_me %>
           <%= f.label :remember_me %>
         </div>
        <% end %>
        
        <div class = "col-lg-7 mx-auto text-center">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
    </div>
    
  </div>
  
</div>
<%= render "admin/shared/links" %>
