<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
  		<h2>注文履歴詳細</h2>
  		<table class='table table-hover table-inverse'>
  		  <thead>
  		    <tr>
          <th>購入者</th>
          <th>注文日</th>
          <th>配送先</th>
          <th>支払方法</th> 
          <th>注文ステータス</th>
        </tr>
  		  </thead>
  		  <tbody>
  		    <tr>
  		      <td><%= @order.name %></td>
  		      <td><%= @order.created_at %></td>
  		      <td>
  		        <%= @order.postal_code  %>
              <%= @order.address %>
              <%= @order.name %>
  		      </td>
  		      <td><%= @order.payment %></td>
  		       <%= form_with model: [:admin, @order], method: :patch, local: true do |f| %>
  		        <td>
  		           <%= f.select :reception_status, Order.reception_statuses.keys.map {|k| [t("enums.reception_status.#{k}"), k]} %>
  		           <%= f.submit "更新" %>
  		        </td>
  		      <% end %>
  		    </tr>
  		  </tbody>
      </table>
      
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込み)</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.item.with_tax_price %></td>
            <td><%= order_detail.volume %></td>
            <td><%= order_detail.subtotal %></td>
            <td>
              <%= form_with model: [:admin, order_detail], method: :patch, local: true do |f| %>
                <%= f.select :production_status, OrderDetail.production_statuses.keys.map {|k| [t("enums.production_status.#{k}"), k]} %>
  		          <%= f.submit "更新" %>
  		        <% end %>
  		      </td>
          </tr>
          <% @price_all += order_detail.subtotal %>
          <% end %>
        </tbody>
      </table>  
      <table class='table table-hover table-inverse'>
        <td>商品合計: <%= @price_all %></td>
        <td>送料: <%= @order.postage %></td>
        <td>請求金額合計: <%= @order.postage + @price_all %></td>
      </table>
    </div>
  </div>
</div>