 <td><h2>商品一覧</h2></td>
        <td>(全<%= @items.count %>件)</td>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="border" style="height:300px">
        <div class="border-bottom text-center">ジャンル検索</div>
        <div>ケーキ</div>
        <div>焼き菓子</div>
        <div>プリン</div>
        <div>キャンディ</div>
      </div>
    </div>

    <!--<div class="col-md-9"> -->





      <% @items.each do |item| %>
      <div class="col-md-3">
        <div><%= link_to item_path(item) do %>
               <%= image_tag item.get_image, size: "180x100" %>
             <% end %>
        </div>
        <div><%= item.name %></div>
        <div>¥<%= item.price %></div>
      </div>
      <% end %>

  </div>
</div>