<div class="container">
  <div class="row">
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col-4">
      <%= image_tag @item.get_image, size: "50x50" %>
    </div>
    <div class="col-4">
      <span><strong><%= @item.name %></strong></span>
      <p><%= @item.body %></p>
      <P><strong>￥<%= (@item.price * 1.1).floor %></strong>(税込)</P>
      <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
        <%= f.hidden_field :image, :value => @item.image %>
        <%= f.hidden_field :name, :value => @item.name %>
        <%= f.hidden_field :body, :value => @item.body %>
        <%= f.hidden_field :price, :value => @item.price %>
        <%= f.select :volume, *[1..10] %>
        <%= f.submit 'カートに入れる' %>
      <% end %>
    </div>
  </div>
</div>