<div class = "d-flex align-items-center">
  <div class = "container-fluid header-box">
    <div class = "row">
      
       <div class = "col-lg-6">
         <div class="burger"></div>
           <div class="menu">
             <div class=" d-flex align-items-center justify-content-center">
                <div class="home-icon-box"><i class='bx bxs-home'></i></div>
                <div class="header-text1"> <a href="/homes/top">おすすめ</a></div>
             </div>
              <a href="/subjects">投稿一覧</a>
              <%= link_to "いいね一覧", favorites_user_path(current_user.id)%>
               <a href="/reports">通報一覧</a>
              <%= link_to current_user.nickname, user_path(current_user.id) %>
            </div>
        </div>  
          
        <div class = "col-lg-6">
          <div class="header-nav d-flex align-items-center">
            
            <div class ="picogi-text">
              <a href="/homes/top">PicOgi</a>
            </div>
            
            <div>
              <%= form_with url: search_path, local: true, method: :get, class: "search-form" do |form| %> 
                <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
                <%= form.submit "検索", class: "search-btn" %>
               <% end %>
            </div>
            
            <ul class="gnavi">
              <li class="current"><a href="/subjects/new">新規投稿</a></li>
              <li><a href="/users/sign_out">ログアウト</a></li>
            </ul>
            
          </div>
        </div> 
        
       </div>
    </div>
  </div>
</div>

