<!DOCTYPE html>
<html>
  <head>
    <title>PicOgi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  
    <!--app/javascript 配下のファイルを参照する-->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- css導入-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
     <!--Boxicons仕様-->
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
     
     <!--Googleフォントの導入-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
  </head>

  <body>
    
    <header>
     <% if user_signed_in? %>
       <%= render 'layouts/public_header' %>
     <% elsif admin_signed_in? %>
       <%= render 'layouts/admin_header' %>
     <% else %>
     <% end %>
    </header>
    
    <main>
      <%= yield %>
    </main>
    
    <% if (controller.controller_name != 'subjects' && controller.controller_name != 'show') %>  
    <footer>
      <% if user_signed_in? %>
        <%= render 'layouts/public_footer' %>
      <% end %>
    </footer>
    <% end %>
  </body>
</html>
