<!DOCTYPE html>
<html>
  <head>
    <title>PicOgi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <!--<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>-->
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <!--app/javascript 配下のファイルを参照する-->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <!--Boxicons仕様-->
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>

  <body>
    
    <header>
     <% if user_signed_in? %>
       <%= render 'layouts/public_header' %>
     <% elsif admin_signed_in? %>
       <%= render 'layouts/admin_header' %>
     <% else %>
     <% end %>
    </header>
    
    <main>
      <%= yield %>
    </main>
      
    <footer>
      <% if user_signed_in? %>
        <%= render 'layouts/public_footer' %>
      <% end %>
    </footer>
      
  </body>
</html>
