<!DOCTYPE html>
<html>
  <head>
    <title>PicOgi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<!--app/javascript 配下のファイルを参照する-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body class = "text-center">
    <div class = "container">
      
      <header class = "masthead mb-auto">
        <!--% if user_signed_in? %>
          <div class="text-center text-white">ようこそ、<-%= current_user.nickname %>さん！</div>
        <-% elsif admin_signed_in? %>
          <div class="text-left text-white">管理者用ページ</div>
        <-% end %>-->
        <div class = "inner">
          <h3 class = "masthead-brand">PicOgi</h3>
            <% if user_signed_in? %>
              <nav class = "nav nav-masthead justify-content-center">
                <a class = "nav-link active" href = "/homes/top">Home</a>
                <a class = "nav-link active" href = "/subjects">投稿一覧</a>
                <a class = "nav-link active" href = "/subjects/new">新規登録</a>
                <%= link_to "マイページ", user_path(current_user.id), class: 'nav-link active' %>
                <a class = "nav-link active" href = "/users/sign_out">ログアウト</a>        
            <% elsif admin_signed_in? %>         
                <a class = "nav-link active" href = "/admin/sign_out">ログアウト</a>      
            <% else %>         
            <% end %>          
              </nav>
        </div>
      </header>
      
      <main class="inner cover">
        <%= yield %>
      </main>
      
      <footer>
        
      </footer>
      
    </div> 
  </body>
</html>
